<h2> Viewing the <% @gallery.name %> gallery </h2>

<p><i><%= @gallery.description %></i></p>

<ul>
  <% @gallery.images.each do |image| %>
    <li><%= image_tag image.url %>
    <%= link_to image.name, gallery_image_path (@gallery, image) %></li>
 <% end %>
</ul>
